# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SEP3XA20-ARS\Persistance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
