.booking-form .submit-btn {
    color: #000000;
    background-color: yellow;
    font-weight: 400;
    height: 50px;
    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9;
    transition: 0.2s all;
}

.btn-rounded{
    border-radius:40px !important;
}

.btn-primary:focus {
    box-shadow: none;
    background-color: rgba(239,71,111,1) !important;
    color: white !important;
    border-color: transparent !important;
}

.btn-primary {
    border-color: transparent !important;
}
