.confirm-container {
    width: 400px;
    background: #025A9F;
    border-radius: 15px;
    ;
}


.yellow-btn {
    color: #000000;
    background-color: yellow;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    border-radius: 40px;
    font-weight: bold;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;

    &:focus {
        opacity: 0.9;
        transition: 0.2s all;
        outline: none;
    }

    &:hover {
        opacity: 0.9;
    }

    &.cancel {
        color: #000000;
        background-color: #a3bdb7;
        font-weight: 400;
        font-size: 16px;
        border: none;
        padding: 12px 20px;
        border-radius: 40px;
        font-weight: bold;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        cursor: pointer;
    }
}
