.nav-item a {
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    font-weight: bold !important;
}

.nav-item a.active {
    color: rgba(239,71,111,1) !important;
    text-decoration: solid yellow;
}

.nav-item a:hover {
    text-decoration: solid yellow;
    color: rgba(239,71,111,1) !important;
}

@media (min-width: 768px) {

    .navbar-toggler {
        display: none;
    }
}

.navbar {
    background-color: #025A9F;
}

.logo {
    width: 200px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
