@inherits LayoutComponentBase


<body>

    <NavMenu />

    <div>
        @Body
    </div>

    <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                    Timeout="5"
                    SuccessClass="success-toast-override"/>
</body>

