@import 'buttons/buttons.scss';
@import 'components/Luggage.scss';
@import 'components/plane.scss';
@import 'components/login.scss';
@import 'layout/center-layout.scss';
@import 'components/searchflight.scss';
@import 'layout/navigationbar.scss';
@import 'layout/flightlayout.scss';
@import 'components/pickedflight.scss';
@import 'colors/colors.scss';
@import 'components/sucess.scss';
@import 'components/flightdetail.scss';
@import 'components/cancel.scss';
@import 'buttons/checkbox.scss';
html, body {
    font-family: gilroy-regular, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url('../wwwroot/css/open-iconic/font/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'gilroy-regular';
    src: url('../wwwroot/css/open-iconic/font/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'gilroy-italic';
    src: url('../wwwroot/css/open-iconic/font/fonts/Gilroy-MediumItalic.ttf');
}

h1, h2, h3, h4, h5, h6, button {
    font-family: gilroy-bold;
}

h1, h2, h3, h4, h5, h6, button, p, span, a, input {
    letter-spacing: 1px;
}



.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: none !important;
    box-shadow: 0 0 5px red;
}

.blazored-typeahead__controls{
    margin:-4px;
    display:block !important;
}

.validation-message {
    color: red;
}

#resultsArea > ul {
    flex: auto;
}

#resultsArea li > div {
    flex: 1 0;
}

#resultsArea li > div:first-child {
    flex: 0;
}


/*------------------REGISTRATION FORM----------------*/

